#saveButton {
    -fx-background-color: #4caf50;
    -fx-text-fill: #fff;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-padding: 8px 24px;
    -fx-border-radius: 24px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 2,0,0,1 );
}

#saveButton:hover {
    -fx-background-color: #388e3c;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 4,0,0,2 );
}

#cancelButton {
    -fx-background-color: #ef5350;
    -fx-text-fill: #fff;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-padding: 8px 24px;
    -fx-border-radius: 24px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 2,0,0,1 );
}

#cancelButton:hover {
    -fx-background-color: #f44336;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 4,0,0,2 );
}