#button {
    -fx-background-color: rgba(242, 75, 75, 0.5);
    -fx-text-fill: #fff;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-padding: 8px 24px;
    -fx-border-radius: 24px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 2,0,0,1 );
}

#button:hover {
    -fx-background-color: rgba(242, 75, 75, 1);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 4,0,0,2 );
}

#label {
    -fx-border-radius: 24px;
    fx-font-family: "Roboto", sans-serif;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 2,0,0,1 );
}

#label:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 4,0,0,2 );
}

